.dash-chart {
	width: 49%;
	display: inline-block;
}
.dash__title {
	text-transform: uppercase;
	font-size: 18px;	
	font-weight: normal;
}

.data {
	padding-bottom: 20px;
	padding-left: 20px;
}

.data-item {
	display: inline-block;
	margin-right: 30px;
}

.data-item__title,.data-item__subtitle {
	text-transform: uppercase;
}
.data-item__title {
	font-weight: normal;
	font-size: 11px;
	color: $medium-gray;
}

.data-item__number {
	font-size: 20px;	
}

.data-item__subtitle {
	font-size: 10px;
	color: $light-gray;
}

.logout {
	color: $blue;
	padding: 5px 10px;
	font-size: 12px;
}